/* ICON STYLE */

.circle-icon .large{
  width: 70px;
  height: 70px;
  border: none;
  display: inline-block;
  border-radius: 500px;
  background-color: darkorange;
  margin: 5px 5px 0px 0px;
  text-align: center;
  float: right;
}

.red {
  background-color: pink;
}

.blue {
  background-color: darkblue;
}

.img-circle {
  margin: 40px;
}

.instr-row {

}

/* CHAT STYLE */
#map{
  float:left;
  width: 100%;
  height: 500px;
}

#chat{
  height: 500px;
  float:right;
  width: 0%;
}

.chat-wrapper{
  height: 500px;
}

.chat-box > tbody > tr:nth-child(odd) > td,
.chat-box > tbody > tr:nth-child(odd) > th {
  background-color: #0A3F38;
}

.chat-scroll{
  overflow-y: scroll;
  height: 474px;
}

.chat-input {
  width: 100%;
  color: black;
}

.msg-text {
  float: left;
}

.medium {
  max-width: 100px;
  max-height: 100px;
}

#feedback {
  font-size: 1.4em;
}

#selectable .ui-selecting { 
  background: #FECA40;
}
#selectable .ui-selected { 
  background: #F39814; 
  color: white; 
}
#selectable { 
  list-style-type: none; 
  margin: 0; padding: 0;
}
#selectable li { 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 10px; 
  margin-top: 10px; 
  padding: 0.4em; 
  font-size: 1.4em; 
  width: 50%; 
}
