<!DOCTYPE html>
<html>
	<head>
		<title>Jamr</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
		
	</head>
	<body>
    <div id='geo'>
  		<button onclick="getLocation();">Share Your Location</button>
  		<div id='geoStatus'></div>
    </div>
    <div id='genre' class='hidden'>
      genre bitch
    </div>
		<script type='text/javascript' src='../static/geo.js'></script>
	</body>
</html>