<table class="chat-box table table-striped">
  <tbody>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><p class="msg-text">A message from a jazz guitarist to a blues pianist.</p></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <form>
          <input type="input" class="chat-input">
        </form>
      </td>
    </tr>
  </tbody>
</div>
