  <script>
  $(function() {
    $( "#selectable" ).selectable();
  });
  </script>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">What Genre Do You Want To Play</h1>
        <p class="lead">
          <ol id="selectable" class='ui-selectable'>
            <li class="ui-widget-content" id="jazz">Jazz</li>
            <li class="ui-widget-content" id="rock">Rock</li>
          </ol>
          <a id="next" href="#" class="btn btn-lg btn-default">Next</a>
        </p>
      </div>
    </div>
  </div>
</div>