<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Instrument</h1>
        <p class="lead">What do you play?</p>
        <div class="row">
          <div class="instr-row">
            <img data="guitar"  class="img-circle red medium" src="assets/img/icon512/acoustic.png"></img>
            <img data="bass"      class="img-circle red medium" src="assets/img/icon512/bass.png"></img>
            <img data="drums"     class="img-circle red medium" src="assets/img/icon512/drummer.png"></img>
            <img data="keyboard"  class="img-circle red medium" src="assets/img/icon512/keyboard.png"></img>
            <img data="voice"     class="img-circle red medium" src="assets/img/icon512/microphone.png"></img>
            <img data="sax"       class="img-circle red medium" src="assets/img/icon512/sax.png"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>