<h1 class="cover-heading">JAMR</h1>
<div id='map'></div>
<div id='chat'><div>
<script>
 window.map = L.map('map').setView([{{{geo.coords.latitude}}}, {{{geo.coords.longitude}}}], 13);
      console.log('users');
      console.log(users);
      var Stamen_Watercolor = L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg', {
        //attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      subdomains: 'abcd',
      minZoom: 3,
      maxZoom: 16
      });
      var Stamen_TonerLabels = L.tileLayer('http://{s}.tile.stamen.com/toner-labzels/{z}/{x}/{y}.png', {
      //attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      subdomains: 'abcd',
      minZoom: 0,
      maxZoom: 20
      });
      var meIcon = L.icon({
            iconUrl: 'assets/img/icon512/me.png',

            iconSize:     [38, 95], // size of the icon
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });
      /*
      var markers = []
      var marker = L.marker([{{geo.coords.latitude}}, {{geo.coords.longitude}}], {icon: meIcon});
      app.me.set('marker', marker);
      window.markers.push(marker);
      */
      Stamen_Watercolor.addTo(map);
      Stamen_TonerLabels.addTo(map);
      //marker.addTo(map);
      users = [
            {"genr": "rock", "inst": "guitar", "pos": {"lat": "-71.080689", "lon": "42.370641"}, "uid": "1"},
            {"genr": "rock", "inst": "sax", "pos": {"lat": "-71.080432", "lon": "42.371656"}, "uid": "3"},
            {"genr": "rock", "inst": "guitar_base", "pos": {"lat": "-71.079402", "lon": "42.363158"}, "uid": "2"},
            {"genr": "rock", "inst": "keyboard", "pos": {"lat": "-71.093049", "lon": "42.365822"}, "uid": "4"}
      ];
      for(var i = 0; i < users.length; i++) {
            console.log(users[i]);
            var marker = L.marker([parseFloat(users[i].pos.lon), parseFloat(users[i].pos.lat)], {icon: meIcon});
            users[i].marker = marker;
            marker.addTo(map);
            console.log(users[i]);
      }
</script>

